<!--本の編集画面-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <form action="/books/57471" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="patch" autocomplete="off">
        <input type="hidden" name="authenticity_token" value="HlBaeIKWqJ68hsSOldfhW40nye2vXmIiKX57etTwFKlWWUjT4_SS-Dza1po-FWuh1vsIyl3mSbRCpnSjC5wZww" autocomplete="off">
        <div class="form-group">
          <label for="book_title">Title</label>
          <input class="form-control book_title" type="text" value="1" name="book[title]" id="book_title">
        </div>
        <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <textarea class="form-control book_body" name="book[body]" id="book_body">1</textarea>
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>
      </form>
      <td><%= link_to "Show", book_path(book.id) %></td>
      |
      <td><%= link_to "Back", books_path %></td>
    </div>
  </div>
</div>